/*!
* Base v1
*/
body {
  background: yellow; }

/* ALL ANIMATIONS */
/* Fontfaces */
@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: 400;
  src: url(../css/fonts/icons/entypo.eot);
  src: url('../css/fonts/icons/entypo.eot?#iefix') format('ie9-skip-eot'), url('../css/fonts/icons/entypo.woff') format('woff'), url('../css/fonts/icons/entypo.ttf') format('truetype'); }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: black; }

h1 {
  font-weight: 800; }

p {
  font-weight: 200; }


ul {
  list-style: none outside; }

ol {
  list-style: decimal;
  margin-left: 30px; }

ul.square, ul.circle, ul.disc {
  margin-left: 25px; }
ul.square {
  list-style: square outside; }
ul.circle {
  list-style: circle outside; }
ul.disc {
  list-style: disc outside; }
ul ul {
  margin: 4px 0 5px 25px; }

ol ol {
  margin: 4px 0 5px 30px; }

ul.large li {
  line-height: 21px; }

dl dt {
  font-weight: bold; }

html * {
  box-sizing: border-box; }

body {
  -webkit-backface-visibility: hidden; }

html, body {
  height: 100%; }

.fixed {
  position: fixed; }

.clearfix::before, .clearfix::after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clear {
  clear: both; }

@media print {
  /* Black prints faster: sanbeiji.com/archives/953 */
  /* Don't show links for images, or javascript/internal links */
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  body {
    width: 100%; }
  p a {
    color: black !important;
    text-decoration: underline; }
    p a:visited {
      color: black !important;
      text-decoration: underline; }
    p a[href]:after {
      content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after {
    content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) { }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) { }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) { }

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { }

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) { }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) { }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { }
